@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: 49 173 153;
}

@layer base {
    h1 {
        @apply text-5xl font-bold text-[#333333];
    }

    h2 {
        @apply text-3xl font-semibold text-[#333333];
    }

    p {
        @apply text-base text-[#333333];
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .font-cta {
        @apply text-xl font-semibold text-white;
    }
}

/* tailwind.config.js or postcss-compatible */
::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.line {
    fill: none;
    stroke: #4D4D4D;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}